<%-include('../partials/head-system.ejs')%>
<main class="contaner">
    <label for="menu-sanduiche" id="label-sanduiche"> <i class="fas fa-bars"></i></label>
    <div class="main">
        <input type="checkbox" id="menu-sanduiche">
        <aside class="" id="menu">

            <nav id="painel-btn">
                <div id="foto-profile"><img src="/images/profiles/<%=usuario.avatar %>" alt="foto de perfil"
                        class="img-thumbnail">
                </div>
                <label class="perfil-usuario" for=""><b> <%=usuario.nome %></b><br> <span
                        class="badge <%=usuario.status==1?"badge-secondary":"badge-info"%>" style="padding: 2px;">Status
                        <span class="badge badge-light">
                            <%=usuario.status==1?"ADM":'USER'%></label>
                </span>
                </span>
                <hr>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active " id="v-pills-home-tab" data-toggle="pill" href="#usuarioView" role="tab"
                        aria-controls="v-pills-home" aria-selected="true"> <i class='fas fa-user'
                            style='font-size:15px'> Usuário</i></a>
                    <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#editar-usuarios" role="tab"
                        aria-controls="v-pills-home" aria-selected="true"> <i class='fas fa-edit'
                            style='font-size:15px'> Atualizar</i></a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#" role="tab"
                        aria-controls="v-pills-profile" aria-selected="false"><i class='far fa-trash-alt'
                            style='font-size:15px'> Excluir </i></a>
                    <a class="nav-link" href="/system" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false"><i class='fas fa-reply' style='font-size:15px'> Voltar</i></a>
                </div>
            </nav>
        </aside>
        <article class="" id="corpo">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active usuario-cabecalho" id="usuarioView" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div class="">
                        <div id="foto-profile-view"><img src="/images/profiles/<%=resposta[0].pessoas.image %>" alt="..." class="img-thumbnail">
                        </div>
                        <label id="nome-usuario-view" class="perfil-usuario" for=""><b> <%=resposta[0].pessoas.nome %></b><br> <span
                                class="badge <%=resposta[0].status==1?"badge-secondary":"badge-info"%>"
                                style="padding: 2px;">Status
                                <span class="badge badge-light">
                                    <%=resposta[0].status=="1"?"ADM":'USER'%></label></label>
                    </div>
                    <div class="row usuario-view-main">
                        <div class="dados-usuario">
                            <div class="dados-card">
                            <label for="" class="nome-campo-usuario"><span class="badge badge-pill  label-dados-view">Dados pessoais</span></label><br>
                          <i class='fas fa-calendar-alt'>
                           Nascimento: <%=moment(resposta[0].pessoas.data_nascimento).format("DD/MM/YYYY")%></i>
                               <br>
                           <i class='fas fa-venus-mars'>
                              Sexo: <%=resposta[0].pessoas.sexo%></i>
                        </div>
                            <div class="dados-card">
                            <label for="" class="nome-campo-usuario"><span class="badge badge-pill  label-dados-view">Contato</span></label><br>
                          <i class='fas fa-at'>
                             Email:  <%=resposta[0].email%></i>
                               <br>
                           <i class='fas fa-phone'>
                               Telefone: <%=BrM.phone(resposta[0].pessoas.telefone)%></i>
                        </div>
                            <div class="dados-card">
                            <label for="" class="nome-campo-usuario"><span class="badge badge-pill  label-dados-view">Endereço</span></label><br>
                          <i class='fas fa-map-marker-alt'>
                            <%=resposta[0].pessoas.logradouro%> Nº  <%=resposta[0].pessoas.numero%> - <%=resposta[0].pessoas.bairro%></i>
                            <%if(resposta[0].pessoas.complemento!=""){%>
                               <br> <b> Complemento:  <%=resposta[0].pessoas.complemento%></b>
                               <%}%><br>
                           <i class='fas fa-map-signs'>
                              CEP: 05797-440</i><br>
                           <i class='fas fa-map'>
                              Cidade: São Paulo - SP</i>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- relat -->
                <div class="tab-pane fade usuario-cabecalho" id="editar-usuarios" role="tabpanel"
                    aria-labelledby="v-pills-messages-tab">
                    <div class="">
                        <form>
                        <div id="foto-profile-view"><img src="/images/profiles/<%=resposta[0].pessoas.image %>" alt="..." class="img-thumbnail">
                        </div>
                        <div id="div-nome-atualizar"> <input type="text" class="form-control input-usuario-atualizar" id="inputEmail3" value="<%=resposta[0].pessoas.nome %>" > </div>
                        <label id="nome-usuario-view" class="perfil-usuario" for=""><b>
                           </b> <span
                                class="badge <%=resposta[0].status==1?"badge-secondary":"badge-info"%>"
                                style="padding: 2px;">Status
                                <span class="badge badge-light">
                                    <select class="custom-select" id="status-atualizar" name="status" required>
                                        <option value="<%= resposta[0].status %>"><%=resposta[0].status=="1"?"ADM":'USER'%></option>
                                        <% if(resposta[0].status==1){%> 
                                            <option value="2">USER</option>
                                            <option value="3">INATIVO</option>
                                        <% }else if(resposta[0].status==2){%>
                                            <option value="1">ADM</option>
                                            <option value="3">INATIVO</option>
                                        <%}else{%>
                                            <option value="1">ADM</option>
                                            <option value="2">USER</option>
                                        <%}%>      
                                       
                                        
                                    </select>
                                  
                    </div>
                    <div class="row usuario-view-main">
                        <div class="dados-usuario">
                            <div class="dados-card">
                            <label for="" class="nome-campo-usuario"><span class="badge badge-pill  label-dados-view">Dados pessoais</span></label><br>
                          <i class='fas fa-calendar-alt'>
                           Nascimento: <%=moment(resposta[0].pessoas.data_nascimento).format("DD/MM/YYYY")%></i>
                               <br>
                           <i class='fas fa-venus-mars'>
                              Sexo: <%=resposta[0].pessoas.sexo%></i>
                        </div>
                            <div class="dados-card">
                            <label for="" class="nome-campo-usuario"><span class="badge badge-pill  label-dados-view">Contato</span></label><br>
                          <i class='fas fa-at'>
                             Email:  <%=resposta[0].email%></i>
                               <br>
                           <i class='fas fa-phone'>
                               Telefone: <%=BrM.phone(resposta[0].pessoas.telefone)%></i>
                        </div>
                            <div class="dados-card">
                            <label for="" class="nome-campo-usuario"><span class="badge badge-pill  label-dados-view">Endereço</span></label><br>
                          <i class='fas fa-map-marker-alt'>
                            <%=resposta[0].pessoas.logradouro%> Nº  <%=resposta[0].pessoas.numero%> - <%=resposta[0].pessoas.bairro%></i>
                            <%if(resposta[0].pessoas.complemento!=""){%>
                               <br> <b> Complemento:  <%=resposta[0].pessoas.complemento%></b>
                               <%}%><br>
                           <i class='fas fa-map-signs'>
                              CEP: 05797-440</i><br>
                           <i class='fas fa-map'>
                              Cidade: São Paulo - SP</i>
                        </div>
                    </div>
                    </div>
                </form>
                </div>


            </div>
        </article>
    </div>
</main>
<%-include('../partials/footer-system.ejs')%>